*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.swiper {
  
   
  }
  .container {
   height: 100%;
   
  }
  .swiper-slide-active .wrap{
    position: relative;
   
    
    margin: 0 auto;
  }
  .swiper-slide {
    
  }
.wrap {
    background-color: blueviolet;
    padding: 10px;
    min-height: 100px;
}
  .song {
     margin-top: 10px;
    display: none;
}
.song audio {
    display: block;
    margin: 0 auto;
}

.box {
    display: flex;
}
.boxRes {
    display: flex;
}
.empty {
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: darkgray;
}
.drag {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    z-index: 1;
    color:azure;
    font-size: 22px;
    text-align: center;
}
.active {
    background-color: darkgreen;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: blueviolet;
    color:azure;
    border-radius: 10px;
}
.butCheck {
    display: none;
}
.swiper-button-prev,
.swiper-button-next {
    background-color: blueviolet;
    width: 70px;
    height: 70px;
    border-radius: 50%;
   position: relative;
     margin-top: -10px;
}
.swiper-button-prev,
.swiper-button-next::after {
    color: red;
}
.text {
    min-height: 50px;
    padding: 10px;
}

.arrowsBlock {
    display: flex;
    justify-content: space-between;
}
.swiper-wrapper {
    height: 100%;
}
.swiper {
  
}


@media (max-width: 600px) {
    .longWord:disabled { 
        display: block;
        color: chartreuse;
        background-color: red;
        border: 1px solid red;
    
    }
    .loNone {
        display: none;
    }
}
@media (min-width: 600px) {
    .longWord { 
        display: none;
    
    }
}
@media screen and (orientation:portrait) {
    body {
        background-color: coral;
    }
}
/* горизонтальная ориентация */
@media screen and (orientation:landscape) {
    body {
        background-color: gray;
    }
}
